<section id="art" class="section-wrapper">
  <div id="spinner"> </div>
  <div id="art-container" class="section-container">
      <!-- MENU -->
    <div class="section-row section-menu">
      <div class="menu-wrapper">
        <md-button type="button" class="home" ng-click="$ctrl.home()" aria-label="home">
          <img src="../assets/images/home.png">
        </md-button>
        <md-button type="button" class="wallet" ng-click="$ctrl.wallet()" aria-label="wallet">
          <img src="../assets/images/wallet.svg">
        </md-button>
      </div>
    </div>
    <!-- TITLE -->
    <div class="section-row section-title">
      <h3>step two</h3>
    </div>
    <!-- IMAGE -->
    <div class="section-row section-art">
      <figure ng-cloak>
        <div id="genAppContanier"></div>
      </figure>
    </div>
    <!-- ART DETAILS -->
    <div class="section-row section-caption">
      <span class="caption-text"> uncage your creativity. work with your art piece by rotating the canvas </span>
    </div>
    <!-- NAVIGATION -->
    <div id="save-art" class="section-row section-nav">
      <md-button type="button" class="arrow" ng-click="$ctrl.saveArtPiece()" ng-cloak aria-label="save">
        <img src="../assets/images/arrow-next.png">
      </md-button>
    </div>
    <!-- FOOTER -->
    <div class="section-row section-footer"> </div>
  </div>
</section> 
