<div class="modal-header">

  <button type="button" class="close" data-dismiss="modal" ng-click="ok()">
    <img src="../assets/images/close.png" alt="close">
  </button>

  <h3 class="modal-title">

    <div class="terms-title">
      TERMS AND CONDITIONS
    </div>

  </h3>

</div>

<div class="modal-body">

  <div class="terms-content">
    <h4>
      UNCAGE ORIGINALS
    </h4>
    <br/>
    <br/>
    <p>
      The Promoter is Heineken Ireland Limited trading at One Kilmainham Square, Kilmainham, Dublin 8 ("the Promoter").
    </p>
    <br/>
    <p>
      You must be over 18 years of age and reside in the Republic of Ireland to enter Tiger Uncage Originals Promotion ("the Promotion"). By entering the Promotion you will be deemed to have read and agreed to the terms and conditions of the Promotion.
    </p>
    <br/>
    <p>
      Employees and/or relatives of employees of the Promoter, its associated companies and any agents connected to the Promotion are not eligible to enter the Promotion and/or win any prizes.
    </p>
    <br/>
    <p>
      The Promotion is running from 1 July 2016 to 30 September 2016 (the "Redemption Period") in the Republic of Ireland. Incomplete, illegible or late entries will not be accepted.
    </p>
    <br/>
    <p>
      Personal Data
    </p>
    <br/>
    <p>
      The personal data provided by you in the context of this Promotion will be processed by the Promoter in accordance with our privacy and cookie policy available on http://www.heineken.com/ie/Terms-of-Use-and-Privacy (but please note that Heineken
      Ireland Limited is the controller of the processing of all personal data collected in connection with this Promotion and it complies with the provisions of the Data Protection Acts 1988 (as amended)). Your first name, last name, age, email and mobile
      phone number will be stored by the Promoter, in order to be able to appoint winners of the prizes and to execute the prizes and may be disclosed to third parties for the purpose of delivering the prizes. The personal data of the entrants may be used
      for publicity purposes (see clause 6). Entrants may be required for publicity purposes. Entrants agree by entering the Promotion to participate in such publicity including but not limited to the publication of their names and photographs for
      advertising and/or promotional purposes.
    </p>
    <br/>
    <p>
      Other Promotional Uses
    </p>
    <br/>
    <p>
      Heineken and its subsidiaries would like to also use entrants’ personal details for the purposes of communicating information about its products and promotional activities in the future (including by way of email, text, WhatsApp messages and
      telephone calls). This may require us sharing your details with approved third parties engaged to assist in the hosting and administering of promotional activities. We always give you an opportunity to opt-out of receiving these messages. By ticking
      the box "I agree to be contacted by Heineken and providing their personal details to enter the Promotion, players consent to receiving these messages and the disclosure of their personal details to third parties for this purpose. This consent can be
      withdrawn at any time by clicking the unsubscribe button on any of our email correspondence.
    </p>
    <br/>
    <h3>
      HOW TO ENTER
    </h3>
    <br/>
    <p>
      The Promotion will take place at uncage.ie (the "Website").
    </p>
    <br/>
    <p>
      No purchase of any product is required to enter the Promotion.
    </p>
    <br/>
    <p>
      To enter the Promotion you must log on to uncage.ie to claim. By logging on to uncage.ie, entrants are consenting to the terms and conditions of the website. When logging on to uncage.ie for the first time, entrants will be asked to register their
      first name, last name, email address and mobile number where they can choose to redeem a complimentary pint. Once they are fully signed up, entrants will be able to claim their complimentary pint of Tiger from participating pubs.
    </p>
    <br/>
    <p>
      Once an entrant has set up their account and verified their mobile number using the 4 digit code sent to their device, they’ll be able to claim a pint of Tiger. They will need to use their personal mobile device to redeem their pint in the pubs. In
      order to redeem their pint, the entrant must tap on the redeem button in the Wallet section of uncage.ie. The entrant will then be asked to choose a participating pub. Once the entrant has selected the participating pub, the entrant must enter
      confirm that they’re in a participating pub (or the nearest participating pub will be shown on their screen) and they will have 120 seconds to claim their complimentary pint. It is therefore important that the entrant follows the instructions on the
      screen and only press the redeem button once they’ve ordered their pint with the barman in the participating pub.
    </p>
    <br/>
    <p>
      At midnight every day for the duration of the Competition Period there will be an allocation of Tiger pints that can be claimed by people registering on the website. There will be a total of 8,000 pints available to be claimed during the pint
      Redemption Period. The number of pints allocated daily and the time of release is at the discretion of the Promoter. When an entrant registers on the website, they will be able to claim a complimentary pint of Tiger, provided they are eligible to do
      so. The pint is stored in their wallet and the pool of complimentary pints for that day reduces by 1. This is limited to the amount of complimentary pints available that day and is managed on a first come first served basis. The complimentary pint
      can be redeemed at one of the on-trade outlets listed in the Participating venues section of the uncage.ie website. Heineken is not responsible for incorrect placement of a Participating Pub on the map function of the uncage.ie microsite.
    </p>
    <br/>
    <p>
      Once a complimentary pint of Tiger has been awarded within the uncage.ie site, entrants will have 7 days to redeem in a participating pub. If a pint is not redeemed within 7 days, it will expire and be removed from the entran’ts wallet. Entrants are
      only able to store one complimentary pint in their dashboard at any one time.
    </p>
    <br/>
    <p>
      Participating venues in which the pint or coupon is being redeemed may require proof of age. Entry into the participating venue is at the sole discretion of the participating outlet or accountvenue. Service of the complimentary pint is at the sole
      discretion of the participating outletvenue.
    </p>
    <br/>
    <p>
      Complimentary pints and coupons are non-transferable. The pint and coupon will have no monetary value. Only a pint of Tiger can be redeemed, no other products are redeemable.
    </p>
    <br/>
    <p>
      A complimentary pint and money off coupon is void if not redeemed in accordance with these Terms & Conditions and/or is obtained, altered or otherwise used fraudulently or improperly in Heineken's sole opinion. Multiple registrations by a consumer
      are not permitted and will not be valid. A maximum of two (2) pints per person can be redeemed in total throughout the campaign. However the promoter may contact the entrant via the email address or mobile number registered, at a later date, to offer
      an additional complimentary pint.
    </p>
    <br/>
    <h3>
      GENERAL TERMS
    </h3>
    <br/>
    <p>
      The Promoter accepts no responsibility for entries, registrations or redemptions not received, undelivered due to technical difficulties or delayed messages which were unable to be sent or received due to technical failure or any other reason beyond
      its control. No responsibility will be accepted by the Promoter for failed, partial or garbled computer transmissions, for any computer, telephone, cable, network, electronic or internet hardware or software malfunctions, failures, connections,
      availability, for the acts or omissions of any service provider, internet, accessibility or availability or for traffic congestion or unauthorised human act.
    </p>
    <br/>
    <p>
      The free pints and coupons will be issued subject to proof of valid identification and age verification.
    </p>
    <br/>
    <p>
      In the event that the prize, pint or coupon becomes unavailable, the Promoter reserves the right to substitute an alternative prize, pint or coupon of equal or similar value.
    </p>
    <br/>
    <p>
      The Promoter reserves the right to refuse payment of any reward if there is any suspicion of fraud or in the event that winner notification has been incorrectly (e.g. by reason of technical fault, computer and/or printing error) printed and/or
      generated and/or sent to the winner on the Promoter’s behalf.
    </p>
    <br/>
    <p>
      No warranty or guarantee is given by the Promoter in relation to any of the prizes and to the fullest extent permitted by law, the Promoter, its agents, associated companies, and trading partners will not be liable for any loss, damage, delay,
      additional expenses, injury or death howsoever caused, whether in contract, tort (including without limitation, negligence, fraud or malicious act), statutory or otherwise arising out of the Promotion or receipt or use of any prize awarded pursuant
      to the Promotion and the Promoter does not recommend or guarantee the performance of any contractor or the obligations of any third parties associated with any prize (including without limitation the promoter of any prize) and will not be liable for
      any fraud committed by any third party.
    </p>
    <br/>
    <p>
      During the Promotion, any request or complaint concerning the Promotion and Terms and Conditions may be sent via e-mail to the Promoter at info@uncage.ie stating your name, address, e-mail address and telephone number. You will be contacted within a
      reasonable time after receipt. The Promoter will not engage in any correspondence related to the selection of any prize winner.
    </p>
    <br/>
    <p>
      The Promoter reserves the right to vary, cancel or modify the Promotion and/or the Terms and Conditions at any time and for whatever reason and/or amend or withdraw the Promotion (and/or any related Prizes) in whole or in part at any time due to
      unforeseen circumstances. The Promoter is also entitled to vary the prizes if, due to unforeseen circumstances it becomes impossible to provide the prizes as described or in its opinion, it would be inappropriate in any way. In that event, prizes of
      equal or similar value will be offered.
    </p>
    <br/>
    <p>
      The Promotion and these terms and conditions are governed by Irish law and subject to the exclusive jurisdiction of the Irish courts.
    </p>
    <br/>
    <p>
      Heineken promotes responsible drinking. Please visit drinkaware.ie for more information.
    </p>
    <br/>

  </div>

</div>

<div class="modal-footer">

  <md-button class="btn-close" type="button" ng-click="ok()">OK</md-button>

</div>
